@charset "UTF-8";

*, *:before, *:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'NanumSquareRoundEB'; /*a name to be used later*/
    src: url('./fonts/NanumSquareRoundEB.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'NanumSquareRoundR'; /*a name to be used later*/
    src: url('./fonts/NanumSquareRoundR.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'yangjin'; /*a name to be used later*/
    src: url('./fonts/yangjin.ttf'); /*URL to font*/
}

 body {
    display: flex;
    background-attachment: relative;
    height: 100vh;
    /* top: -10px; */
    bottom: 0;
    align-items: center;
    background: url('./images/bg/bg_top.png');
    /* background-position: relative; */
    background-size: cover;
    background-repeat: no-repeat;  
    overflow: hidden;
} 

.bg-container {
    position: absolute;
    width: calc(max(120%,330px));
    height: calc(max(200px,35%));
    bottom: 0;
    right: 0px;
    /* left:-10px; */
    z-index: -3;  
}

.bg-box {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
    bottom: 0px;
    z-index: -1;
}

.info-btn {
    width: 70px;    
    height: 70px;
    top: 13px;
    right: 13px;
    margin-bottom: 10px;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5));
}

/* modal */
.modal {
    display: none;
    position: fixed;
    /* z-index: 1; */
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /* overflow: auto; */
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    float: right;
    /* margin: 0 0 0 0; */
    padding: 20px;
    /* border: none; */
    border-radius: 5px;
    /* width: 50%;
    height: 50% */
}

#close-Btn {
    -webkit-tap-highlight-color: transparent;
    position:absolute;
    float:right;
    width: 70px;    
    height: 70px;
    top: 13px;
    right: 13px;
    /* color: #ccc; */
}

.close-btn:hover, .close-btn:focus {
    outline: none !important;
    box-shadow: none;
  }
  

/* .modal-text {

} */

dl  {
    margin-top: 70px; 
    padding: 0px;
    background-color: #D0D;
    overflow: auto;
}

dt  {
   line-height: 30px; 
   display: block;
   width: 100%;
   /* text-align: right; */
   background-color: #DD0;
}

dd {
   width: 60%;
   display: block;
   background-color: #0DD;
}


.content-wrap {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-evenly; 
    height: min(75%, 1000px);
    width: 100%;
}

.logo {
    width: clamp(250px, 80%, 500px);    
}

.content-text {
    font-size: min(5.5vw, 2em);
    font-family: 'yangjin';
    letter-spacing: 0.2em;
    color: white;
    background-color: rgba(4, 72, 112, 0.413);
    padding: 0.3em 0.6em 0.6em 0.7em;
    border-radius: 16px;
}

.input-code {
    align-items: center;
    width: 250px; 
    height: 70px;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
    z-index: -2;
}

.start-btn {
    width: clamp(60px, 30%, 120px);
    cursor: pointer;
}
















